* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 50px;
}

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px;
}

ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

ul li a {
    text-decoration: none;
    color: black;
    font-size: 30px;
}



ul:last-child {
    width: 40%;
    justify-content: right;
}